#Container{
	height: 700px;
	width: 320px;
	font-size: 10px;



}

#GRSP {
	width: 320px;
	font-size: 10px;
}

#Titel{

	width: 800px;
	font-family: sans-serif;

}


#Regeln{
	font-size: 15px;
}

#PKVT{
	font-size: 15px;
}
th,td{
	padding: 2px;
}

table{
	width: 100%;
}

