#Container{
	height: 600px;
	width: 900px;
	font-size: 10px;


}

#Titel{

	width: 800px;
	font-family: sans-serif;

}


#Regeln{
	font-size: 10px;
}

#PKVT{
	font-size: 10px;
}
